header {
    display: flex;
    justify-content: center;
}

.banner-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.logo {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

.choice {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    P {
        width: 100%;
        text-align: center;
        padding-bottom: 5%;
    }
    select {
        width: 30%;
    }
}

// //  Media Queries for tablet
@media screen and (min-width:600px) {
    header {
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
        margin-top: 5%;
    }
    .logo {
        width: 60%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        ;
    }
    .choice {
        width: 35%;
        align-items: center;
        justify-content: center;
        padding:0px;
        select {
            width: 60%;
        }
    }
}

// //  Media Queries for desktop 
@media screen and (min-width:1000px) {
    header {
        justify-content: flex-start;
        margin-top: 10%;
    }
    .choice {
        justify-content: flex-start;
        
        P {
            text-align: left;
        }
        select {
            width: 30%;
        }
    }
    .banner-wrapper {
        justify-content: flex-start;
    }
}